@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "reset.css";
/*reset.css 이용해서 브라우저 스타일을 없애고 자신의 스타일로 디자인 적용*/
@import "status-bar.css";

body {
    font-family: "Open Sans", sans-serif;
    /*font-family는 앞에 폰트 없으면 다음 폰트, 다음 폰트 적용*/
    /*구글폰트에서 마음에 드는 폰트를 무료로 추가해도 됨*/
}

.welcome-header {
    margin: 90px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-header__title {
    margin-bottom: 20px;
    font-size: 25px;
}

.welcome-header__text {
    width: 60%;
    opacity: 0.7;
}